<nav th:fragment="navbar" xmlns:th="">
  <div class="navbar navbar-expand-lg navbar-dark bg-dark modern-navbar">
    <a class="navbar-brand" href="#">Pract1/2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link modern-link" href="/home">
          Calc
        </a>
        <a class="nav-item nav-link modern-link" href="/home/converter">
          Converter
        </a>
        <a class="nav-item nav-link modern-link" href="/home/students">
          Students
        </a>
        <a class="nav-item nav-link modern-link" href="/home/courses">
          Courses
        </a>
        <a class="nav-item nav-link modern-link" href="/home/teachers">
          Teachers
        </a>
      </div>
    </div>
  </div>
</nav>
